<header class="header">
  <div class="container">
    <div class="top-line">
      <div class="logo">
        <a href="/">
          <img src="{{'/assets/img/Logo.png' | theme}}" alt="" />
          <span>КОГБУ « Яранская межрайонная станция по борьбе с болезнями животных»</span>
        </a>
      </div>
      <div class="top-line__info">
        612260 Кировская область г. Яранск пер. Радина 8а 8(833)6721745
      </div>
    </div>
  </div>
  <nav class="navigation">
    <div class="container">
      <ul class="navigation-list">
        <li class="navigation-list__item"><a href="/">Главная</a></li>
        <li class="navigation-list__item">
          <a>История</a>
          <ul class="sub-navigation-list">
            <li class="sub-navigation-list__item">
              <a href="aboutVetService.html">История вет службы</a>
            </li>
            <li class="sub-navigation-list__item">
              <a href="aboutVetLab.html">История вет лаборатории</a>
            </li>
          </ul>
        </li>
        <li class="navigation-list__item"><a href="info.html">Информация</a></li>
        <li class="navigation-list__item">
          <a
            href="https://drive.google.com/file/d/11Po49H2Q2jsY8UicxXkCby7OzQ9E_fm_/view?usp=sharing"
            target="_blank"
            >Прейскурант</a
          >
        </li>
        <li class="navigation-list__item"><a href="team.html">Наш коллектив</a></li>
        <li class="navigation-list__item"><a href="contacts.html">Контакты</a></li>
      </ul>
      <div class="mobile__nav-menu">
        <div class="menu-icon">
          <span class="menu-icon-line"></span>
        </div>
      </div>
      <nav class="mobil-nav">
        <div class="close-btn">
        </div>
        <ul class="navigation-list">
          <li class="navigation-list__item"><a href="/">Главная</a></li>
          <li class="navigation-list__item">
            <a href="./aboutVetService.html">История вет службы</a>
          </li>
          <li class="navigation-list__item">
            <a href="aboutVetLab.html">История вет лаборатории</a>
          </li>
          <li class="navigation-list__item"><a href="info.html">Информация</a></li>
          <li class="navigation-list__item">
            <a href="img/Pages/Price/1.doc">Прейскурант</a>
          </li>
          <li class="navigation-list__item"><a href="team.html">Наш коллектив</a></li>
          <li class="navigation-list__item"><a href="contacts.html">Контакты</a></li>
        </ul>
      </nav>
    </div>
  </nav>
</header>