<footer class="main-footer">
  <div class="container">
    <div class="footer">
      <div class="footer-menu">
        <h4>Меню:</h4>
        <div class="footer-menu__block">
          <nav class="footer-nav">
            <ul class="navigation-list">
              <li class="navigation-list__item"><a href="/">Главная</a></li>
              <li class="navigation-list__item">
                <a href="/about-service">История вет службы</a>
              </li>
              <li class="navigation-list__item">
                <a href="/about-lab">История вет лаборатории</a>
              </li>
              <li class="navigation-list__item"><a href="/info">Информация</a></li>
              <li class="navigation-list__item">
                <a
                href="https://drive.google.com/file/d/11Po49H2Q2jsY8UicxXkCby7OzQ9E_fm_/view?usp=sharing"
                target="_blank"
                >Прейскурант</a
              >
              </li>
              <li class="navigation-list__item"><a href="/team.html">Наш коллектив</a></li>
              <li class="navigation-list__item"><a href="/contacts">Контакты</a></li>
            </ul>
          </nav>
        </div>
      </div>
      <div class="footer-working-hours">
        <h4>График работы:</h4>
        <div class="footer-working-hours__day">
          <div class="footer-working-hours__name">Понедельник</div>
          <div class="footer-working-hours__time">08:00 - 17:00</div>
        </div>
        <div class="footer-working-hours__day">
          <div class="footer-working-hours__name">Вторник</div>
          <div class="footer-working-hours__time">08:00 - 17:00</div>
        </div>
        <div class="footer-working-hours__day">
          <div class="footer-working-hours__name">Среда</div>
          <div class="footer-working-hours__time">08:00 - 17:00</div>
        </div>
        <div class="footer-working-hours__day">
          <div class="footer-working-hours__name">Четверг</div>
          <div class="footer-working-hours__time">08:00 - 17:00</div>
        </div>
        <div class="footer-working-hours__day">
          <div class="footer-working-hours__name">Пятница</div>
          <div class="footer-working-hours__time">08:00 - 16:00</div>
        </div>
        <div class="footer-working-hours__day">
          <div class="footer-working-hours__name">Суббота</div>
          <div class="footer-working-hours__time">Выходной</div>
        </div>
        <div class="footer-working-hours__day">
          <div class="footer-working-hours__name">Воскресенье</div>
          <div class="footer-working-hours__time">Выходной</div>
        </div>
      </div>
      <div class="footer-org-info">
        <div class="footer-org-info__logo"><img src="{{'/assets/img/Logo.png'|theme}}" alt="" /></div>
        <div class="footer-org-info__name">
          КОГБУ « Яранская межрайонная станция по борьбе с болезнями животных»
        </div>
        <div class="footer-org-info__contacts">
          612260 Кировская область г. Яранск пер. Радина 8а 8(833)6721745
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      © 2021 КОГБУ « Яранская межрайонная станция по борьбе с болезнями животных»
    </div>
  </div>
</footer>
