.post__body {
  margin: 32px 0;
}

.post__body .post-title {
  text-align: center;
}

.post__body .post-content {
  margin-top: 16px;
}

.post__body .post-content img {
  display: block;
  width: 100%;
  height: auto;

}